<!DOCTYPE HTML>
<html data-pg='index'>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Splash &mdash; Free Website Template, Free HTML5 Template by FreeHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<link rel="stylesheet" href="views/fonts/bpg-nino-elite/css/bpg-nino-elite.css">
  <link rel="stylesheet" href="views/fonts/bpg-nino-elite-caps/css/bpg-nino-elite-caps.css">

	<link rel="stylesheet" href="views/css/bootstrap.css">

	<link rel="stylesheet" href="views/css/style.css">

	</head>
	<div class='opening'>
	<div class='fall'>
	  <div class='swing'>
	    <div class='web'></div>
	    <div class='spider-body'></div>
	    <div class='arm-container right'>
	      <div class='arm A'>
	        <div class='arm B'>
	          <div class='arm C'></div>
	        </div>
	      </div>
	      <div class='arm A'>
	        <div class='arm B'>
	          <div class='arm C'></div>
	        </div>
	      </div>
	      <div class='arm A'>
	        <div class='arm B'>
	          <div class='arm C'></div>
	        </div>
	      </div>
	      <div class='arm A'>
	        <div class='arm B'>
	          <div class='arm C'></div>
	        </div>
	      </div>
	    </div>
	    <div class='arm-container left'>
	      <div class='arm A'>
	        <div class='arm B'>
	          <div class='arm C'></div>
	        </div>
	      </div>
	      <div class='arm A'>
	        <div class='arm B'>
	          <div class='arm C'></div>
	        </div>
	      </div>
	      <div class='arm A'>
	        <div class='arm B'>
	          <div class='arm C'></div>
	        </div>
	      </div>
	      <div class='arm A'>
	        <div class='arm B'>
	          <div class='arm C'></div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class='curtain'></div>
	</div>

	<div id='logo'></div>

	<!-- jQuery -->
	<script src="views/js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="views/js/bootstrap.min.js"></script>

	<script src="views/js/main.js"></script>

	</body>
</html>
